@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Neue Montreal Regular";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Bold";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary: #fbf7e9;
  --color-secondary: #6e2323;
  --color-accent: #c0d7e8;
  --color-black: #000000;
  --color-white: #ffffff;

  /*Typografi */
  --font-display: "Barriecito", system-ui;
  --font-sans: "Neue Montreal Regular", sans-serif;
  --font-sans-bold: "Neue Montreal Bold", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
